/* RESET */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--dark-base);
}

/* VARIABLES */
:root {
    --pri-color: #253B40;
    --sec-color: #0D0D0D;

    --high-color: #A55A2E;
    --low-color: #D9A384;

    --light-color: #EBEFF2;
    --high-light: #F2BC1B;

    --dark-base: #28393F;
    --base: #312614;

    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

/* news ticker */
/* TICKER STYLE */

.news-wrapper {
    height: 2.5em;
    background-color: var(--pri-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-wrapper h4 {
    padding-left: 2em;
    color: var(--light-color);
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10em;
    width: 100%;
}

.user:hover,
.linkedin:hover,
.twitter:hover {
    color: var(--high-light);
    transform: scale(1.5);
    transition: all .1s ease;
    filter: drop-shadow(0px 2px 1px var(--thumbBG));
}

.twitter,
.linkedin,
.user,
.search {
    padding: 0 1rem;
    color: var(--light-color);
}

/* NAVBAR */
.nav {
    background-color: var(--sec-color);
}

.logo {
    width: 25%;
    padding-right: 1em;
}

header .nav,
.nav-name {
    padding-left: 3em;
    color: var(--high-color) !Important;
}

.nav-ul {
    padding-right: 7.5em;
}

/* HERO */

main .hero {
    display: flex;
    background-color: var(--base);
    justify-content: center;
    align-items: center;
    height: 80vmin;
}

main .hero-bg {
    background: url('../img/five-plates.jpg');
    background-size: contain;
    background-position-x: center;
    display: flex;
    align-items: center;
    padding-top: 4em;
    flex-direction: column;
    width: 100%;
    height: 75vh;
}

main .hero h1,
h5 {
    margin: .5rem;
    font-weight: 400;
    color: var(--high-light);
}

main .hero h1 {
    font-size: 2.5rem;
}

main .hero h5 {
    font-size: 1rem;
}

main .hero-btn {
    margin-top: 3em;
    background: var(--dark-base);
    color: var(--high-light);
    filter: drop-shadow(0px 1px 8px var(--low-color));
}

main .hero-btn:hover {
    background: var(--light-color);
    color: var(--dark-base);
    filter: drop-shadow(0px 0px 5px var(--high-light));
}

/*ABOUT Page */
.dev-wrapper {
    display: flex;
    flex-direction: column;
}

.dev-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: var(--high-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dev-cards {
    padding: 1em !Important;
}

/* Contact Form */
.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vmax;
    overflow-x: 0;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-top: 1em;
}

form {
    height: 70vmin !Important;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-main {
    display: flex;
    flex-direction: row;
}

textarea {
    margin: 0;
    padding: 0;
}

.form-btn {
    margin: 5% auto;
}

form button {
    border: none;
    border-radius: 5px;
    background-color: var(--sec-color);
    color: var(--high-color);
    width: 8em;
    height: 3em;
}

form button:hover {
    background-color: var(--base);
    color: var(--high-light);
    filter: drop-shadow(0px 0px 10px var(--light-color));
}

.form-info,
.form-text {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    width: 50%;
}

.f-name,
.l-name,
.email,
.password,
.info {
    display: flex;
    flex-direction: column;
    width: 15em;
    color: var(--low-color);
}

.form-btn {
    display: inline-block;
}

/* FOOTER */
footer {
    background-color: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    border-bottom: 2px solid var(--high-color);
    width: 85%;
}

footer .footer-name {
    color: var(--pri-color);
    margin: 1em;
    padding-left: 1em;
}

footer .footer-name h4 {
    color: var(--high-color);
}

footer .footer-name p {
    color: white;
}

footer .footer-list {
    color: var(--pri-color);
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em 1em;
    padding-right: 1em;
}

footer .footer-list h3 {
    color: var(--high-color);
    padding: 1em 0;
    margin: 0;
}

footer .footer-list li {
    list-style: none;
    color: var(--light-color);
}

footer .footer-name p:hover {
    color: var(--high-light);
}

footer .footer-list li:hover {
    color: var(--high-light);
}

/* MEDIA RESPONSIVE */
@media(max-width: 850px) {
    .news-block {
        display: none;
    }

    .social-icons {
        width: 100%;
        padding-right: 1em;
    }

    .search-box {
        margin: .5rem 0;
    }

    .linkedin,
    .twitter,
    .user {
        padding: 0 1rem;
    }
}

@media(max-width: 678px) {
    .contact-wrapper {
        width: 100%;
        height: 100vmax;
    }

    .form-main {
        flex-direction: column;
    }

    form {
        height: 85vmin !Important;
    }
}

@media(max-width: 599px) {}

@media(max-width: 440px) {
    main .hero-bg {
        height: 100%;
        background-size: cover;
    }

    main .hero h1 {
        font-size: 1.5em;
    }

    main .hero-btn {
        filter: drop-shadow(0px 0px 15px var(--dark-base));
    }

    header .nav,
    .nav-name {
        padding-left: 1px;
    }

    footer .footer-list {
        display: none;
    }

    .search-box {
        display: none;
    }
}